In [2]:
import pandas as pd

In [5]:
df = pd.read_excel("muestra_de_datos.xlsx")
df

    NUM_SERIEV   NUM_POL   NUMUNIDADVP   ... CANTAC_AM  CANTAC_CP CANTAC_CO
0        159122     32237            16  ...        NaN       NaN        NaN
1         81506     32245             1  ...        0.0       0.0        1.0
2        159122     32287             1  ...        NaN       NaN        NaN
3        112293     32251             1  ...        NaN       NaN        NaN
4        159707    215402             1  ...        NaN       NaN        NaN
..          ...       ...           ...  ...        ...       ...        ...
95       159368     34142            54  ...        NaN       NaN        NaN
96         5131     34156             3  ...        NaN       NaN        NaN
97       159122     32526             1  ...        NaN       NaN        NaN
98       159122     32522             1  ...        NaN       NaN        NaN
99       159122     32523             1  ...        NaN       NaN        NaN

[100 rows x 33 columns]

In [6]:
df.head(10)

   NUM_SERIEV   NUM_POL   NUMUNIDADVP   ... CANTAC_AM  CANTAC_CP CANTAC_CO
0       159122     32237            16  ...        NaN       NaN        NaN
1        81506     32245             1  ...        0.0       0.0        1.0
2       159122     32287             1  ...        NaN       NaN        NaN
3       112293     32251             1  ...        NaN       NaN        NaN
4       159707    215402             1  ...        NaN       NaN        NaN
5       169919     32270            26  ...        0.0       0.0        1.0
6       173492     32269            20  ...        NaN       NaN        NaN
7        69787     32303             1  ...        NaN       NaN        NaN
8        52191     32311             1  ...        NaN       NaN        NaN
9        86272     32312             1  ...        0.0       0.0        0.0

[10 rows x 33 columns]